annotated-types
anyio
asyncpg
click
colorama
databases
distlib
fastapi
filelock
greenlet
h11
idna
platformdirs
pydantic
pydantic_core
sniffio
SQLAlchemy
starlette
typing_extensions
uvicorn
virtualenv
psycopg2-binary
